/* ----------- HEADER ----------- */

.header {
    align-items: center;
    color: #333;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 0 7.8rem;
}

.logo {
    width: 14rem;
}

.header-options {
    align-items: center;
    border: rgba(51, 51, 51, 0.28) 1px solid;
    border-radius: 10px;
    display: flex;
    gap: 2rem;
    margin-left: 10rem;
    padding: .8rem 1rem .8rem 2rem;
    transition: .4s ease;
}

.header-options:hover {
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
}

.header-options--text {
    font-size: 1.4rem;
    font-weight: 500;
}

.header-options--text.mr-10 {
    margin-right: 8.8rem;
}

.header-options--input {
    border: none;
    color: #333333;
    flex: 1;
    font-size: 1.7rem;
    font-weight: 400;
    outline: none;
    width: 40rem;
}

.header-options--search {
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

.header-user {
    align-items: center;
    display: flex;
    gap: 2rem;
    user-select: none;
    position: relative;
}

.header-user--cart {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.cart-icon {
    position: relative;
}

.cart-quantity {
    align-items: center;
    background-color: #735b60;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-flex;
    height: 8px;
    justify-content: center;
    left: 20px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 8px;
}

.cart-quantity span {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.cart-info {
    display: flex;
    flex-direction: column;
}

.cart-name {
    color: rgba(51, 51, 51, 0.72);
    font-size: 1.5rem;
    font-weight: 500;
}

.cart-payment {
    align-items: center;
    display: flex;
    gap: 5px;
}

.cart-payment span {
    font-size: 1.5rem;
    font-weight: 500;
}

.header-user--info {
    align-items: center;
    border: rgba(51, 51, 51, 0.28) 1px solid;
    border-radius: 50px;
    display: flex;
    gap: 2rem;
    padding: .5rem .6rem;
    transition: .4s ease;
}

.header-user--info:hover {
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
    cursor: pointer;
}

.header-user--menu {
    height: 1.6rem;
    margin-left: 6px;
}

.header-user--profile {
    border-radius: 50%;
    display: block;
    height: 30px;
    margin: 0 auto;
    object-fit: cover;
    width: 30px;
}

.header-user--options {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
    position: absolute;
    right: -2px;
    top: 50px;
    width: 24rem;
    z-index: 9999;
}

.options-list {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.options-list li {
    padding: 1.5rem;
}

.option {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 8px;
    opacity: .8;
    padding: 10px;
    transition: .3s all;
}

.option:hover {
    opacity: 1;
}

.option span {
    padding-top: 2px;
}

ion-icon {
    font-size: 20px;
}

.border-top {
    border-top: rgba(51, 51, 51, 0.28) 1px solid;
    margin-top: .3rem;
    padding-top: 1.9rem;
}

/* ----------- CATEGORIES ----------- */

.section-categories {
    background-color: rgba(233, 210, 210, 0.75);
    border-bottom: rgba(51, 51, 51, 0.10) 1px solid;
    border-top: rgba(51, 51, 51, 0.10) 1px solid;
    padding: 0 7.8rem 0 calc(7.8rem - 1.6rem);
}

.section-categories--list {
    display: flex;
    flex-direction: row;
}

.categories-list {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    gap: 5px;
    padding: 1.2rem 1.6rem;
    transition: .3s ease;
}

.categories-list:hover {
    color: #F14405;
}

/* ----------- LOGIN ----------- */

.show-menu {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 50%;
    padding: 2rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.login-container--content {
    background-color: white;
    border-radius: 12px;
}

.content--header {
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.2) 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
}

.auth-buttons {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.auth-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 4px;
    padding: 2.4rem .8rem;
}

.auth-button span {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2px;
}

.selected-button {
    box-shadow: 0 1px 0 rgb(241, 68, 5);
    color: #F14405;
}

.header-close {
    opacity: .8;
    transition: .3s ease;
    width: 20px;
}

.header-close:hover {
    cursor: pointer;
    opacity: 1;
}

.header-title {
    font-size: 1.8rem;
    margin: auto;
}

.content--user {
    padding: 2.4rem;
}

.user-title {
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 4.4rem;
}

.content--authentication {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 50rem;
}

.authentication-input {
    border: rgba(51, 51, 51, 0.5) 1px solid;
    border-radius: 10px;
    padding: 1.6rem 1.5rem;
    transition: .3s ease;
}

.authentication-input input {
    width: 55rem;
}

.authentication-button {
    align-items: center;
    background-color: #F14405;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    height: 54px;
    justify-content: center;
    transition: all 0.3s;
    user-select: none;
    width: 100%;
}

.authentication-button:hover {
    background-color: #d33300;
}

/* ----------- ACCOUNT ----------- */

.section-forms {
    margin: 0 auto;
    max-width: 80rem;
    padding: 7.2rem 3.2rem;
}

.section-forms--container {
    align-items: flex-start;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.form-title {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-descr {
    color: rgba(51, 51, 51, 0.8);
    font-size: 1.8rem;
    font-weight: 500;
}

.cta-form-picture {
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 3.2rem 0;
}

.cta-form-picture img {
    border-radius: 50%;
    display: block;
    height: 80px;
    margin: 0 auto;
    object-fit: cover;
    width: 80px;
}

.file-input {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #333;
    cursor: pointer;
    display: flex !important;
    font-size: 1.6rem;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    padding: 1.2rem;
    transition: all ease 0.3s;
}

.file-input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.file-input span {
    align-items: center;
    display: flex;
    gap: 8px;
}

.file-input input {
    display: none;
}

.image-upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-upload label {
    font-size: 1.4rem;
}

.cta-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.cta-form-name {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}

.cta-form-name--grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 80fr 20fr;
    width: 100%;
}

.cta-form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.cta-form-input label {
    color: rgb(51, 51, 51);
    font-size: 1.5rem;
    font-weight: 600;
}

.cta-form-input input, .cta-form-input textarea {
    align-items: center;
    border: rgba(51, 51, 51, 0.4) 1px solid;
    border-radius: 8px;
    color: #333333;
    display: flex;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 400;
    outline: none;
    padding: 1.3rem 1rem;
    transition: .4s ease;
    width: 100%;
}

.cta-form-input:hover input, .cta-form-input:hover textarea {
    box-shadow: rgba(16, 16, 16, 0.4) 0 0 4px 0;
}

.cta-form-error input {
    border: rgba(255, 0, 0, 0.75) 1px solid !important;
}

.label {
    display: flex;
    gap: 8px;
    user-select: none;
}

.label label:nth-of-type(2) {
    color: red;
}

.password-input-container {
    position: relative;
}

.input-password {
    padding-right: 40px;
}

.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: calc(50% + 2px);
    transform: translateY(-50%);
}

.password-options {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.password-options h5 {
    color: #F14405;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
}

.remember-me {
    align-items: center;
    color: #333333;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 5px;
    width: fit-content;
}

.tags-input-empty {
    display: none !important;
}

.tags-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.tag-box {
    border: rgba(241, 68, 5, 0.58) 2px solid;
    border-radius: 10px;
    color: rgba(241, 68, 5, 0.92);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 3px 6px;
    transition: .3s ease;
    user-select: none;
}

.tag-box:hover {
    border: rgba(51, 51, 51, 0.58) 2px solid;
    color: rgba(51, 51, 51, 0.92);
}

.account--save-button {
    font-size: 1.8rem;
    font-weight: 400;
    height: 50px;
    margin-top: 4rem;
    transition: .4s ease;
}

.saved {
    background-color: #00FF00 !important;
}

/* ----------- Carousel ----------- */

.carousel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.prev-button,
.next-button {
    align-items: center;
    background-color: #333333;
    border-radius: 100%;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    width: 45px;
    z-index: 1;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(51, 51, 51, 0.82);
}

.prev-button {
    left: 40px;
}

.next-button {
    right: 40px;
}

.arrow-left {
    height: 20px;
    padding-right: 4px;
}

.arrow-right {
    height: 20px;
}

.carousel-image {
    max-height: calc(100vh - 60px);
    object-fit: contain;
    width: 100%;
}

/* ----------- Section-split ----------- */

.home-description {
    display: flex;
    justify-content: center;
    padding: 6.4rem 0;
    margin: 0 auto;
    max-width: 80rem;
}

.home-description--p {
    color: rgba(51, 51, 51, 0.74);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
}

.split {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.2rem;
}

.split--h1 {
    color: #333333;
    font-size: 3.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.split--p {
    color: rgba(51, 51, 51, 0.8);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.split--border {
    border-bottom: 2px solid #333333;
    display: block;
    margin-top: 1.5rem;
    width: 100px;
}

/* ----------- Section Best Sellers ----------- */

.section--best-sellers {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 7.8rem 5.8rem 7.8rem;
}

.best-sellers--products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.product {
    border: rgba(51, 51, 51, 0.3) 1px solid;
    border-radius: 10px;
    cursor: pointer;
    height: 445px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 300px;
    transition: all 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-15px);
}

.product img {
    display: block;
    height: auto;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.product-card--info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.2rem 3rem;
}

.info-name {
    display: -webkit-box;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.2rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.info-price {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.info-payment {
    color: rgba(51, 51, 51, 0.75);
    font-size: 1.6rem;
    font-weight: 600;
}

.best-sellers--button {
    border: rgba(51, 51, 51, 0.8) 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 3.8rem;
    padding: 1.4rem 4.2rem;
}

/* ----------- Section Category ----------- */

.section--category {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 7.8rem 5.8rem 7.8rem;
}

.category--categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.categories-button {
    cursor: pointer;
    width: 15rem;
}

.categories-button img {
    border: rgba(51, 51, 51, 0.3) 1px solid;
    display: block;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: border-color 0.3s;
    width: 100%;
}

.categories-button:hover img {
    border-color: #F14405;
}

.categories-name {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.categories-name h5 {
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.3s;
}

.categories-button:hover .categories-name h5 {
    color: #F14405;
}